
@{
    ViewBag["Title"] = "Not Found";
}

<h4 class="card-body text-danger">@ViewBag.ErrorMessage</h4>

<a asp-action="index" asp-controller="home" style="width:auto" class="btn btn-outline-dark">
    Click here to navigate to home page
</a>

