
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center mt-3">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You do not have permission to view this resources!</h5>
    <img src="~/Images/Accessdenied.png" style="height:300px; width:300px" />
</div>

