
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
}

<hr />

<div class="card mt-5">
    <h5>Your password has changed successfully. To login with your new password please click<a asp-action="Login"> here</a> </h5>
</div>