
@{
    ViewData["Title"] = "ConfirmEmail";
}
<div class="card mt-5">
    <div class="card-body">
        <h5>Thanks for confirming your email, Now you may login with your registered Email</h5>
    </div>
</div>