
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}
    <div class="card mt-3">
        <div class="card-header">
            <h3>Email Sent </h3>
        </div>
        <p class="m-3">if you have registered account with us we have sent you an email with instructions to reset your password.</p>

    </div>